// Add extra styles or override general styles here.
// THIS IS FILE IS OPTIONAL, you can delete it if you don't want to use it

.theme-container.custom-page-class .language-example {
  border: 4px solid #3eaf7c;
}